# Configuration created by Apache Sling JCR Installer
user.membershipNestingDepth=I"1"
user.propertyMapping=("oauth/oauthid-285vLjx5UqtYKhu5hPIdaViVg\=profile/id","oauth/token-285vLjx5UqtYKhu5hPIdaViVg\=access_token","profile/sling:resourceType\=\"cq/security/components/profile\"","profile/id\=profile/id","profile/name\=profile/name","profile/familyName\=profile/familyName","profile/givenName\=profile/givenName","profile/countryCode\=profile/countryCode","profile/mrktPermEmail\=profile/mrktPermEmail","profile/emailVerified\=profile/emailVerified","profile/phoneNumber\=profile/phoneNumber","profile/email\=profile/email","profile/utcOffset\=profile/utcOffset","profile/mrktPerm\=profile/mrktPerm","profile/displayName\=profile/displayName","profile/orgs\=profile/orgs")
handler.name="a9dea3b044e912071cbffd4839016d2e"
user.pathPrefix="community"
user.disableMissing=B"true"
