


<!DOCTYPE html!>
<!--/* A simple HTL script */-->
<html>
 <head>
   <title>${properties.jcr:title}</title>
  </head>
  <body>
    <div data-sly-include="body.html"></div>
  </body>
<p>Yo rename to contentpage.html</p>
<p>http://localhost:4502/content/hello-world.contentpage.html</p>
<p>http://localhost:4502/content/hello-world.one.html</p>
<p>http://localhost:4502/content/hello-world.html</p>
<p>http://localhost:4502/content/hello-world.blue-one-html.html</p>
<p>http://localhost:4502/content/hello-world.*.html</p>
log.debug("::: Testing logs :::");
</html>
